@import "../../global/Constants";

.AuthTitle {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.125em;
  margin: 4.2% 0 1.5% 0;
}

@media screen and (max-width: $max-mobile-breakpoint) {
  font-size: 0.875em;
}