@import "../../global/Constants";

.ResetPasswordSuccessWrapper {
  display: flex;
  width: 100%;

  .ResetPasswordSuccess {
    flex-grow: 1;
    max-width: 370px;
    min-width: 280px;

    .ResetPasswordSuccess-Container {
      display: grid;
      row-gap: 4%;

      .ResetPasswordSuccess-Image {
        margin: auto;
        padding: 4% 0;
      }

      .ResetPasswordSuccess-Text {
        font-size: 0.75em;
      }

      .ResetPasswordSuccess-Email {
        font-size: 0.875em;
        font-weight: bold;
      }

      .ResetPasswordSuccess-SubInfo {
        font-size: 0.75em;
        padding-top: 3%;
        color: $grey;
      }
    }
  }
}

@media screen and (max-width: $max-mobile-breakpoint){
  .ResetPasswordSuccessWrapper {
    width: 90%;
    padding: 5%;
  }
}