@import "../../global/Constants";

.CartPopUp {
  width: 20%;
  background-color: $white;
  max-height: 300px;
  min-height: 214px;
  display: grid;
  grid-template-rows: auto 40px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.08);
  padding: 12px;


  .CartPopUp-ProductsContainer {
    grid-row: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;

    .CartPopUp-ProductContainer{
      display: grid;
      grid-template-columns: 80px auto;
      column-gap: 16px;
      padding-bottom: 3%;

      .CartPopUp-ProductImageContainer {
        grid-column: 1;
        display: flex;

        .CartPopUp-ProductImage {
          width: 100%;
          height: auto;
          align-self: end;
          user-select: none;
        }
      }

      .CartPopUp-ProductInfo {
        grid-column: 2;
        display: grid;
        grid-template-rows: 50% auto;
        user-select: none;

        .CartPopUp-ProductName {
          font-size: 0.75em;
        }

        .CartPopUp-ProductDetails {
          font-size: 0.875em;
          align-self: end;
          border-bottom: 1px solid $light-grey;
          padding-bottom: 6px;

          .CartPopUp-ProductCount {
            color: $grey;
          }

          .CartPopUp-ProductPrice {

          }
        }
      }
    }
  }

  .CartPopUp-ProductsContainer::-webkit-scrollbar {
    display: none;
  }

  .CartPopUp-ButtonContainer {
    grid-row: 2;
    align-self: end;
    .CartPopUp-Button {

    }
  }
}

@media screen and (max-width: $max-tablet-breakpoint) {
  .CartPopUp { display: none; }
}
