@import url('https://fonts.googleapis.com/css?family=Poppins:wght@400;500&display=swap');

// colors
$white: #FAFAFA;
$light-grey: #DEDEDE;
$middle-grey: #F0F0F0;
$grey: #6D6D6D;
$black: #121212;

$main-font-family: 'Poppins', sans-serif;
$normal-font-weight: 400;
$bold-font-weight: 500;