@import "../../global/Constants";
.CustomInput{
  color: $black;
  font-size: 0.875em;

  * {
    box-sizing: border-box;
  }

  .CustomInput-Error {
    color: red;
    font-size: 0.75rem;
  }

  .CustomInput-Container {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .CustomInput-Label {
      .CustomInput-LabelHint {
        color: $grey;
      }
    }

    .CustomInput-Link {
      color: $black;
    }
    .CustomInput-Link:active {
        color: $black;
    }
  }

  .CustomInput-Field {
    font-size: 0.875em;
    border: 1px solid $grey;
    padding: 9px 12px;
    font-weight: $normal-font-weight;
    font-family: $main-font-family;
    width: 100%;
    margin: 8px 0;
  }

  .CustomInput-Field::placeholder {
    color: $grey;
  }

  .CustomInput-Field:focus {
    outline: none;
  }
}

@media screen and (max-width: $max-mobile-breakpoint) {
  .CustomInput{
    font-size: 0.75em;

    .CustomInput-Container {
      .CustomInput-Field {
        font-size: 0.75em;
      }
    }
  }
}