@import "../../global/Constants";
.CustomInput{
  color: $black;
  font-size: 0.875em;

  .CustomInput-Container {
    .CustomInput-Label {
      display: flex;
      justify-content: space-between;

      .CustomInput-LabelHint {
        color: $grey;
      }
    }

    .CustomInput-Link {
        color: $black;
    }
    .CustomInput-Link:active {
        color: $black;
    }
  }

  .CustomInput-Field {
    font-size: 0.875em;
    border: 1px solid $grey;
    padding: 0.5% 1%;
    font-weight: $normal-font-weight;
    font-family: $main-font-family;
  }

  .CustomInput-Field::placeholder {
    color: $grey;
  }

  .CustomInput-Field:focus {
    outline: none;
  }
}

@media screen and (max-width: $max-mobile-breakpoint) {
  .CustomInput{
    font-size: 0.75em;

    .CustomInput-Container {
      .CustomInput-Field {
        font-size: 0.75em;
      }
    }
  }
}