@import "../../global/Constants";
.Cart {
  display: grid;
  grid-template-columns: auto 30%;
  grid-template-rows: 100%;

  .Cart-FullOrder {

  }

  .Cart-SummaryOrder {
    justify-self: end;
  }
}
@media screen and (max-width: $max-mobile-breakpoint) {
  .Cart {
    .Cart-FullOrder {
      .CartItem {
        padding: 5%;

        .CartItem-Container {
          grid-auto-columns: auto 70%;

          .CartItem-Image {
          }

          .CartItem-Main {
            .CartItem-Info {
              * {
                font-size: 0.625em;
              }
            }

            .CartItem-QuantitySection {
              .CartItem-QuantityLabel {
                display: none;
              }

              .CartItem-QuantityManager {
                grid-template-columns: 22px 22px 22px;
                grid-template-rows: 22px;
                column-gap: 2px;

                .CartItem-Quantity {

                }

                .CartItem-IncreaseQuantity {

                }

                .CartItem-ReduceQuantity {

                }
              }
            }

            .CartItem-Remove {
              width: 20px;
              height: 20px;
            }

            .CartItem-Price {
              font-size: 0.75em;
            }
          }
        }
      }
    }
  }
}