@import "../../global/Constants";
.EmptyCartWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .EmptyCart {
    flex-grow: 1;
    max-width: 370px;
    position: relative;
    text-align: center;
  }

  .EmptyCart-Container {
    //max-width: 320px;
    text-align: center;
    font-size: 0.875em;
    //margin: 0 auto;

    .EmptyCart-Image {
      padding-bottom: 3%;
    }

    .EmptyCart-Text {
      padding-bottom: 10%;
    }

    .EmptyCart-BlackButtonWrapper {
      height: 42px;
    }
  }
}

.SuccessOrderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .SuccessOrder {
    flex-grow: 1;
    max-width: 370px;
    min-width: 280px;
    position: relative;
    text-align: left;


    .SuccessOrder-Container {
      .SuccessOrder-ImageContainer {
        display: flex;
        width: 100%;
        .SuccessOrder-Image {
          margin: 0 auto;
        }
      }

      .SuccessOrder-Title {
        font-size: 1em;
        font-weight: bold;
        margin-top: 5%;
      }

      .SuccessOrder-Subtitle {
        font-size: 0.75em;
        letter-spacing: 0.01em;
        margin: 2% 0;
      }

      .SuccessOrder-OrderInfo {
        display: flex;
        justify-content: space-between;
        font-size: 0.75em;
        letter-spacing: 0.01em;
        margin: 2% 0 5%;

        .SuccessOrder-Info {
          color: $grey;

          .SuccessOrder-InfoValue {
            color: $black;
          }
        }
      }

      .SuccessOrder-Button {

      }
    }
  }
}

.CartWrapper {
  display: flex;
  width: 100%;
  .CartContainer {
    flex-grow: 1;
    position: relative;
  }
}

@media screen and (max-width: $max-mobile-breakpoint) {
  .EmptyCartWrapper {
    width: 90%;
    padding: 5%;

    .EmptyCart {
      font-size: 0.75em;
    }
  }

  .SuccessOrderWrapper {
    width: 90%;
    padding: 5%;
  }
}