.EmptyCart {
  .EmptyCart-Container {
    max-width: 320px;
    text-align: center;

    .EmptyCart-Image {
      padding-bottom: 3%;
    }
    .EmptyCart-Text {
      padding-bottom: 11%;
    }
  }
}