@import "../../global/Constants";

.Title {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.125em;
  margin: 0 0 1.5% 0;
  // margin: 4.2% 0 1.5% 0;
  letter-spacing: 0.01em;
}

@media screen and (max-width: $max-tablet-breakpoint) {
  font-size: 0.875em;
}

@media screen and (max-width: $max-mobile-breakpoint) {
  font-size: 0.75em;
}