@import "../../global/Constants";
.Navigation {
  width: 100%;
  height: 65px;
  border-bottom: 1px solid $light-grey;
  position: fixed;
  top: 0;
  z-index: 3;
  background-color: $white;

  .Navigation-Container {
    width: 100%;
    max-width: 1024px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 1% 1%;

    .Navigation-BurgerButton  {
      display: none;
    }

    .Navigation-LogoLink {
      margin: 0 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      .Navigation-Logo {
        align-self: center;
      }
    }

    .Navigation-List {
      list-style: none;
      padding: 0;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-grow: 1;

      .Navigation-ListItem {
        height: 100%;

        .Navigation-Link {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          padding: 0 20px;
          text-decoration: none;
          line-height: 50px;
          color: $black;

          .Navigation-CartCount {
            font-size: 0.75em;
          }
        }

        .Navigation-Link_Active {
          border-bottom: 2px solid $black;
        }

        .Navigation-Link_Active:focus {
          color: $black;
        }
      }
    }

    .Navigation-List:last-child {
      justify-content: flex-end;
    }
  }

  .Navigation-CartPopUpContainer {
    display: flex;
    justify-content: flex-end;
    max-width: 1024px;
    margin: auto;
  }
}

@media screen and (max-width: $max-tablet-breakpoint){
  .Navigation {
    height: 48px;

    .Navigation-Container {
      height: 48px;
      padding: 0 5%;
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .Navigation-BurgerContainer {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-basis: 30%;

        .Navigation-BurgerButton, .Navigation-BurgerButton:focus {
          display: block;
          outline: none;
        }
      }

      .Navigation-CategoriesList {
        grid-row: 2;
        grid-column: 1;
        height: calc(100vh - 48px);
        position: absolute;
        top:0;
        left: 0;
        margin-top: 48px;
        width: 100vw;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-content: start;
        text-align: start;
        background-color: $white;

        .Navigation-ProductsTitle {
          color: $grey;
          text-transform: uppercase;
          font-size: 0.875em;
          align-self: flex-start;
          padding: 3% 20px;
        }

        .Navigation-ListItem {
          width: 100%;
          padding-top: 1%;
          height: fit-content;

          .Navigation-Link {
            justify-content: flex-start;
            height: fit-content;
            padding: 0;
            margin: 0 20px;
            border-bottom: 1px solid #DEDEDE;
          }
        }
      }

      .Navigation-MobileList {
        justify-content: flex-end;
        flex-basis: 30%;
      }

      .Navigation-List:last-child {
        flex-grow: 0;

        .Navigation-ListItem {
          margin-left: 20px;

          .Navigation-Link {
            padding: 0;
            .Navigation-LinkIcon {
            }
          }
          .Navigation-Link_Active {
            border: none;
          }
        }

        .Navigation-ListItemSearch {
          position: absolute;
          right: 5%;
        }
      }
    }

    .Navigation-CartPopUpContainer {
      display: none;
    }
  }
}