@import "../../global/Constants";

.Navigation {
  top: 0;
  width: 100%;
  height: 65px;
  border-bottom: 1px solid $light-grey;
  position: fixed;
  background-color: $white;
  z-index: 3;

  .Navigation-Container {
    width: 100%;
    max-width: 1024px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 1% 1% 1%;

    .Navigation-LogoLink {
      margin: 0 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      .Navigation-Logo {
        align-self: center;
      }
    }

    .Navigation-List {
      list-style: none;
      padding: 0;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-grow: 1;

      .Navigation-ListItem {
        height: 100%;

        .Navigation-Link {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          padding: 0 20px;
          text-decoration: none;
          line-height: 50px;
          color: $black;

          .Navigation-CartCount {
            font-size: 0.75em;
          }
        }

        .Navigation-Link_Active {
          border-bottom: 2px solid $black;
        }

        .Navigation-Link_Active:focus {
          color: $black;
        }
      }
    }

    .Navigation-List:last-child {
      justify-content: flex-end;
    }
  }

  .Navigation-CartPopUpContainer {
    display: flex;
    justify-content: flex-end;
    max-width: 1024px;
    margin: auto;
  }
}

@media screen and (max-width: $max-tablet-breakpoint){
  .Navigation {
    .Navigation-Container {

    }

    .Navigation-CartPopUpContainer {
      display: none;
    }
  }
}