@import "../../global/Constants";

.Product{
  background-color: $product-background;
  font-size: 0.875em;
  display: grid;
  grid-template-rows: auto 20%;
  grid-template-columns: auto;
  padding: 14px;

  .Product-Button {
    grid-row: 1;
    grid-column: 1;
    width: fit-content;
    height: fit-content;
    border: none;
    justify-self: end;
    align-self: start;
    padding: 0;
    display: flex;
  }
  .Product-Button:hover {
    background: transparent;
  }
  .Product-Button:focus {
    outline: none;
  }

  .Product-Image {
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    align-self: center;
  }

  .Product-Info {
    grid-row: 2;
    background: transparent;
    padding-top: 14px;

    .Product-Name {
    }

    .Product-Price {

    }
  }
}