@import "../../global/Constants";
.Page404 {
  height: calc(100vh - 80px);
  width: 100%;
  display: flex;

  .Page404-Container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

    .Page404-image404 {
    }

    .Page404-Sorry {
      font-size: 1.625em;
      letter-spacing: -0.01em;
      padding-bottom: 5%;
    }

    .Page404-HomeButton {
      min-width: 260px;
    }
  }
}

@media screen and (max-width: $max-mobile-breakpoint){
  .Page404 {
    .Page404-Container {
      .Page404-image404 {
        width: 50%;
        max-width: 300px;
      }

      .Page404-Sorry {
        font-size: 0.625em;
      }

      .Page404-HomeButton {
        width: 100%;
      }
    }
  }
}