@import "../../global/Constants";

.ResetPasswordWrapper {
  display: flex;
  width: 100%;

  .ResetPassword {
    flex-grow: 1;
    max-width: 370px;
    text-align: left;

    .ResetPassword-Container {
      .ResetPassword-Text {
        font-size: 0.75em;
      }

      .ResetPassword-InputContainer {
        margin: 5% 0 10%;
      }

      .ResetPassword-ButtonContainer {
        height: 46px;
      }

      .ResetPassword-LinkContainer {
        width: 100%;
        display: flex;
        margin-top: 5%;

        .ResetPassword-LoginLink {
          font-size: 0.75em;
          color: $black;
          text-align: end;
          margin-left: auto;
        }
      }
    }
  }
}

@media screen and (max-width: $max-mobile-breakpoint){
  .ResetPasswordWrapper {
    width: 90%;
    padding: 5%;
  }
}